<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 配置bean -->
	<bean id="arithmeticCaculator" class="com.cx.spring.aop.xml.ArithmeticCaculatorImpl"></bean>
	<!-- 配置切面的bean -->
	<bean id="logginAspect" class="com.cx.spring.aop.xml.LogginAspect"></bean>
	<bean class="com.cx.spring.aop.xml.VlidationAspect" id="vlidationAspect"></bean>
	<!-- 配置aop -->
	<aop:config>
		<!-- 配置切点表达式 -->
		<aop:pointcut expression="execution(* com.cx.spring.aop.xml.ArithmeticCaculator.*(..))" id="pointcut"/>
		<!-- 配置切面及通知 -->
		<aop:aspect ref="logginAspect" order="2">
			<aop:before method="beforeMethod" pointcut-ref="pointcut"/>
			<aop:after method="afterMethod" pointcut-ref="pointcut"/>
			<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"/>
			<aop:after-returning method="afterReturnning" pointcut-ref="pointcut" returning="result"/>
		</aop:aspect>
		<aop:aspect ref="vlidationAspect" order="1">
			<aop:before method="validateArgs" pointcut-ref="pointcut"/>
		</aop:aspect>
	</aop:config>
</beans>
